/* CSS file */
Button.buttonReperes {
   cornerRadius: 12;
   paddingLeft: 4;
   paddingRight: 4;
   paddingTop: 2;
   paddingBottom: 2;
   letterSpacing: 0;
   highlightAlphas: 0, 0;
   fillAlphas: 0.6, 1, 0.65, 0.65;
   fillColors: #ffffff, #cccccc, #333333, #333333;
   color: #333333;
   textRollOverColor: #ffffff;
   textSelectedColor: #ffffff;
   fontFamily: Arial;
}