/* CSS file */
Application{
	backgroundColor: #ffffff;
	theme-color : #999999;
}
global {
	fontFamily: Arial;	
}

.listeAccueil{
	
}

VBox.subKeyItem{
	
}

VBox.wordsItem{
	
}

HBox.themeExplorerVerticalStyle{
	background-color: #BCFFD2;
	backgroundSize: auto;
	borderStyle: none;
	
}

Label.keyStyle{
	color: #000000;
	fontSize: 15;
	fontFamily: DINPro;
}
List.themeExplorerList{
	background-alpha:0;
	borderThickness: 0;
	borderStyle: none;
	rollOverColor: #F1F1F1;
	selectionColor: #EDEDED;
	verticalScrollBarStyleName: listVerticalScrollBar;
}
.listVerticalScrollBar
{
	borderColor: #FFFFFF;
	trackColors: #FFFFFF, #FFFFFF;
}
Canvas.defPage{
	background-alpha: 0;
}
@font-face
{
	fontFamily: DINPro;
	fontWeight: normal;
	fontStyle: normal;
	src: url("fonts/DINPro.otf");

}
