/* CSS file */
Button.markLinks{
borderColor:#ababab;
fillColors:#ababab, #ababab;
fontSize:9px;
cornerRadius:11;
color:#FFFFFF;
paddingBottom:0px;
paddingLeft:1px;
paddingRight:1px;
paddingTop:0px;
}

Label.marksRestrictors {
textDecoration:underline;
fontSize:14px;
paddingTop:4px;
color:#676767;
}